.my-theme {
 --uc-background-light: oklch(0.67 0.1808 251.84);
  --uc-background-dark: oklch(0.67 0.1808 251.84);
   --uc-primary-oklch-light: oklch(0.67 0.1808 251.84);
  --uc-primary-oklch-dark: oklch(0.67 0.1808 251.84);
}

@supports selector(dialog::backdrop) {
  :where([uc-modal]) > dialog::backdrop {
    background-color: transparent !important;
  }
}
