.my-theme {
  --uc-dialog-shadow-light: 0px 5px 5px oklch(0% 0 0 / 0.1);
}

uc-simple-btn {
display: none;
}

@supports selector(dialog::backdrop) {
  uc-file-uploader-regular > uc-modal > dialog::backdrop {
    background-color: transparent !important;
    background-image: none !important;
  }
}
